#menu {
  position: absolute;
  left: 0px;
  top: 95px;
  border-right: 1px dashed #CCC;
  border-top: 1px dashed #CCC;
  padding: 20px;
  width: 600px;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 1px 1px 5px #DDD;
  z-index: 10000;
}
.breadcrumbs {
  background-color: #FFF;
  border: 0px;
}
.breadcrumbs li {
  width: 100%;
}
.panel {
  background: none repeat scroll 0 0 #F2F2F2;
  border: 1px solid #D9D9D9;
  margin-bottom: 1.25em;
  padding: 1.25em;
}
.error-panel {
  border: 3px solid red;
  font-family: monospace;
  padding: 1.25em;
  unicode-bidi: embed;
  white-space: pre;
}
.padL20 {
  padding-left: 20px;
}
.marL20 {
  margin-left: 20px;
}
