<!doctype html>
<html ng-app='myApp'>
  <head>
    <meta charset="UTF-8">
    <title>Redsift</title>
    <link rel="stylesheet" type="text/css" href="static/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/tree_menu.css" media="screen">
    <link rel="stylesheet" type="text/css" href="static/css/redsift.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
  </head>
  <body ng-controller='MenuController'>
    <h1 class="padL20" style="color:#DDD;"><span style="color:#FF4040">red</span>sift</h1>
    <button ng-class="{button: true, alert: true, tiny: true, disabled: isLocked}"  data-tooltip class="has-tip tip-right" title="Click to access list of tables and views." style="margin-left: 20px;" ng-click='isLocked || toggleMenu()'><span style="font-size: 16px;">&#9776;</span></button>
    <hr />

    <div id="menu" ng-show='menuState.show'>
      <h3 style="color:#AAA;border-bottom: 1px dashed #CCC"><span data-tooltip class="has-tip tip-right" title="Show tables from a database by clicking on them. Clicking on a table/view will load sample data.">select data</span></h3>
      <ol class="tree">
        <li ng-repeat='(db_name, tables) in databases'>
          <label for="{{ db_name }}" class="database">{{ db_name }}</label> <input type="checkbox" id="{{ db_name }}" />
          <ol>
            <li ng-repeat='table in tables' ng-class='{file: true, is_tbl: !(table[1]), is_view: table[1]}'><a ng-click="loadTbl(db_name,table[0])">{{ table[0] }}</a></li>
          </ol>
        </li>
      </ol>
    </div>
    <section class="main marL20">
      <div class="row">
        <div class="panel" ng-show="isLocked">
          {{ statusMsg }}
        </div>
      </div>
      <div>
        <h2><span data-tooltip class="has-tip tip-right" title="Write a full SQL statement to be queried on the server.">query.</span></h2>
        <div class="large-12 columns">
          <form>
            <div class="large-10 columns">
              <input type="text" id="right-label" ng-model="user_query" placeholder="Your SQL query here.">
            </div>
            <div style="clear:both">
              <button style="margin-left:12px;" class="button small alert" ng-click="runQuery()">Query</button>
            </div>
          </form>
          <form>
            <div class="large-4 columns">
              <div class="row collapse">
                <div class="small-6 columns">
                  <input type="text" ng-model="user_filename" placeholder="your filename" />
                </div>
                <div class="small-2 columns">
                  <span class="postfix">.gz</span>
                </div>
               <div style="clear:both">
                  <button class="button small alert" ng-click="runExport()">Export</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div ng-controller='DataViewController'>
        <h2><span data-tooltip class="has-tip tip-right" title="Results from your query or random entries from the table you loaded via the menu.">data.</span></h2>
        <ul class="breadcrumbs">
          <li>redcat</li>
          <li>{{ dbName }}</li>
          <li class="current">{{ tblName }}</li>
        </ul>
        <table id="dvtbl">
          <thead>
            <tr>
              <th ng-repeat='header in tblData.tblHeaders'>{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='row in tblData.tblRows'>
              <td ng-repeat='field in row track by $index'>{{ field }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <footer class="padL20">
      <hr />
      <p><strong>redsift</strong>, a simple web tool for Amazon Redshift. Contact Dat Le, Kenny Shen &amp; Sönke Hahn if you have any questions.</p>
    </footer>
    <script type="text/javascript" src="static/js/foundation.min.js"></script>
    <script type="text/javascript" src="static/js/redsift.js"></script>
  </body>
</html>
