
app {
    port = 9000
    rowLimit = 100
  }

db {
    redcatConnectionString =
        "user='USER' password='PASSWORD' host='HOST' port=PORT dbname='DBNAME'"
}

s3 {
    bucket = "zalora-redsift-oregon"
    access = "ABASDSAMPLEACESSKEY"
    secret = "312312YASDASAMPLESECRETKEY"
    expiry = 259200
  }

gmail {
    account = "csvLinkSender@gmail.com"
    password = "SAMPLEPASSWORD"
  }
